{% extends 'base/base.html'%}

{% block title %} Gestion de cotizacion {% endblock %}

{% block name %} Gestion de cotizacion {% endblock %}

{% block contenido %}
<dvi class="container">
	<div class="row">
	<a href="{% url 'cotizacion:formulario' %}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" style="color:white; background-color:#33CC00">
   Registrar 
</a>
</div>

<div class="row">

	<table  class="mdl-data-table mdl-js-data-table mdl-data-table mdl-shadow--2dp" id="tabla" class="display" cellspacing="0" >
			<tr>
				<th>No</th>
				<th>Nombre de cliente</th>
				<th>Descripcion</th>
				<th>Fecha</th>
				<th>Total</th>
				<th>Accion</th>
			</tr>
			{% for c in cotizacion %}
						<tr>
							<td>{{forloop.counter}}</td>
							<td>{{c.cliente}} </td>
							<td>{{c.descripcion}}</td>
							<td>{{c.fecha}}</td>
							<td>{{c.total}}{{c.id}}</td>
							<td><a href="#" onclick="return abrir_modal('{% url 'cotizacion:detalle_cotizacion' c.id %}', 'Detalle cotizacion No.{{c.id}}')" class="btn">Detalle</a></td>
						</tr>
			{% endfor %}
		</table>
</div>
<div id="popup" class="modal fade" role="dialog"></div>
</dvi>
	<script>
var modal;

function abrir_modal(url, titulo)
{
    modal = $('#popup').dialog(
    {
        title: titulo,
        modal: true,
        width: 500,
        resizable: false
    }).dialog('open').load(url)
}

function cerrar_modal()
{
    modal.dialog("close");
}

$(document).ready(function()
{
    var table = $('#tabla').dataTable( {
        "language": {
                url: "/static/localizacion/es_ES.json"
        }
    } );
});
</script>

{% endblock %}