
<!-- {# dsi2018\templates\proveedor\contacto.html #}
{# ANALISTA PROGRAMADOS: Samuel	García						FECHA CREACION: 062018 #}
{# MODIFICADO POR: Virginia Ramírez                         FECHA MODIFICACION: 062018 #} -->

{% extends 'base/base.html'%}
{% block title %} Crear contacto {% endblock %}
{% block name %} Crear contacto {% endblock %}
{% block contenido %}

<div align="center">
	<form method="POST" action="">{% csrf_token %}
		<h2>Crear contacto para la empresa</h2>
		<!-- Crea el formulario para crear contacto |Looping over the form’s fields-->
		<div class="mdl-textfield">
			{% for field in form %}
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-valid">
			        {{ field.errors }}
					<label class="mdl-textfield__label" for="{{ field.name }}">{{ field.label }}</label> 
					{{ field }}
			        {% if field.help_text %}
			        <p class="help">{{ field.help_text|safe }}</p>
			        {% endif %}
			    </div>
			{% endfor %}
		</div>
		<br>
		<input class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type='submit' value='Guardar' />
	</form>
	<div class="is2">{{valor}}</div><br><br><br>
</div>
{% endblock %}