<!-- {# dsi2018\templates\proveedor\crear.html #}
{# ANALISTA PROGRAMADOS: Samuel	García						FECHA CREACION: 062018 #}
{# MODIFICADO POR: Virginia Ramírez                         FECHA MODIFICACION: 062018 #} -->

{% extends 'base/base.html'%}
{% block title %} Crear Proveedor{% endblock %}
{% block name %} Crear Proveedor {% endblock %}
{% block contenido %}

<div align="center">
	<form method="POST" action="">{% csrf_token %}
		<h4>Datos Generales</h4>
		<!-- Crea el formulario para agregar proveedor |Looping over the form’s fields-->
		<div class="mdl-textfield ">
			{% for field in form %}
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-valid">
			        {{ field.errors }}
					<label class="mdl-textfield__label" for="{{ field.name }}">{{ field.label }}</label> 					
					{{ field }}
			        {% if field.help_text %}
			        <p class="help">{{ field.help_text|safe }}</p>
			        {% endif %}
			    </div>
			{% endfor %}
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<h4>Tipo de Proveedor</h4>
			 	<select class="mdl-textfield__input" name="t_proveedor">
					<option>Materia prima</option>
					<option>Servicios</option>
				</select>
				<br><br><br>
			<input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" align="center" type='submit' value='Guardar'/>
		</div>
		</div>
	</form>
	<div class="is2">{{valor}}</div><br><br><br>
</div>
{% endblock %}

