
<!-- {# dsi2018\templates\proveedor\gestion.html #}
{# ANALISTA PROGRAMADOS: Samuel	García						FECHA CREACION: 062018 #}
{# MODIFICADO POR: Virginia Ramírez                         FECHA MODIFICACION: 062018 #} -->

{% extends 'base/base.html' %}
{% block title %} Proveedores {% endblock %}
{% block name %} Gestion de Proveedores {% endblock %}
{% block contenido %}
<div align="center">
	<!-- <h4> GESTION DE PROVEEDORES</h4> -->
	<br>
		<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
			<thead>
				<tr>
					<th>Codigo</th>
					<th>Nombre</th>
					<th>Direccion</th>
					<th>Correo electronico</th>
					<th>Telefono</th>
					<th>Tipo</th>
					<th colspan="2">Accion</th>
				</tr>
			</thead>
			{% for p in proveedores %}
			<tr>
				<td>{{p.id}}</td>
				<td>{{p.nombre}}</td>
				<td>{{p.direccion}}</td>
				<td>{{p.email}}</td>
				<td>{{p.telefono}}</td>
				{% if p.tipo == t%}
					<td>M</td>
				{% else %}
					<td>S</td>
				{% endif %}
				<td><a href="{% url 'proveedor:crear_contacto' p.id %}">Agregar Contacto</a></td>
				<td><a href="{% url 'proveedor:edit_proveedor' p.id %}">Editar</a></td>
				<td><a href="{% url 'proveedor:elim_proveedor' p.id %}">Eliminar</a></td>
			</tr>
				{% for c in contactos %}
					{% if c.proveedor_id == p.id %}					
						<tr>
							<td></td>							
							<td>{{c.nombre}}</td>
							<td></td>
							<td></td>
							<td>{{c.telefono}}
							<td>Contacto</td>
							<td></td>
							<td><a href="{% url 'proveedor:edit_contacto' c.id %}">Editar</a></td>
							<td><a href="{% url 'proveedor:elim_contacto' c.id %}">Eliminar</a></td>
						</tr>
					{% endif %}
				{% endfor %}
			{% endfor %}
		</table>
		<br>
		<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" onclick="location.href='{% url 'proveedor:crear_proveedor' %}'" >Crear Proveedor</button>
		<br><br>

</div>	
{% endblock %}
