{% extends 'base/base.html'%}

{% block title %} Empleados{% endblock %}

{% block name %} Gestion de clientes {% endblock %}
{% block contenido %}
<!-- {# dsi2018\templates\base\base.html #}
{# ANALISTA PROGRAMADOR: Edwin Molina						FECHA CREACION: 062018 #}
{# MODIFICADO POR: Christian Zelaya                   FECHA MODIFICACION: 270618 #} -->
<table  class="mdl-data-table mdl-js-data-table mdl-data-table mdl-shadow--2dp">
		<tr>
			<th>ID</th>
			<th>Nombre</th>
			<th>Apellido</th>
			<th>Nombre de usuario</th>
			<th>Correo electronico</th>
			<th>Num. telefonico</th>
			<th>Tipo</th>
			<th>Accion</th>
		</tr>
		{% for user in usuarios %}
					<tr>
						<td>{{user.id}}</td>
						<td>{{user.first_name}} </td>
						<td>{{user.last_name}}</td>
						<td>{{user.username}}</td>
						<td>{{user.email}}</td>
						<td>{{user.telefono}}</td>
						<td>{{user.tipo}}</td>
						<td><a href="{% url 'usuario:tipo_cliente' user.id %}">Cambiar tipo</a></td>
						<td><a href="{% url 'usuario:editar_cliente' user.id %}">Editar</a></td>
					</tr>
		{% endfor %}
	</table>
	<a href="{% url 'usuario:crear_cliente' %}">
	<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
			Registrar cliente
		  </button>
	</a>
{% endblock %}