{% extends 'base/base.html'%}

{% block title %} USUARIOS {% endblock %}

{% block name %} Tipo de cliente {% endblock %}
{% load static %}
{% block contenido%}
<!-- {# dsi2018\templates\base\base.html #}
{# ANALISTA PROGRAMADOR: Edwin Molina						FECHA CREACION: 062018 #}
{# MODIFICADO POR: Christian Zelaya                   FECHA MODIFICACION: 270618 #} -->
<div align="center">
	<form method="POST" action="">{% csrf_token %}
		<select name="t_cliente">

		<option>Persona Natural</option>

		<option>Persona juridica</option>

		<option>Preferencial</option>

		</select>
		<input type='submit' value='Guardar' />
	</form>
</div>
{% endblock%}
