
apps/inventario/__pycache__/models.cpython-36.pyc
*.pyc
*.pyc
apps/inventario/__pycache__/views.cpython-36.pyc
apps/inventario/__pycache__/urls.cpython-36.pyc
apps/inventario/__pycache__/models.cpython-36.pyc
Inspirarte/__pycache__/settings.cpython-36.pyc
apps/cotizacion/__pycache__/models.cpython-36.pyc
