{% extends 'base/base.html'%}

{% block title %} Pedidos{% endblock %}

{% block name %} Registrar pedido {% endblock %}

{% block contenido %}
<!-- {# dsi2018\templates\base\base.html #}
{# ANALISTA PROGRAMADOR: Christian Zelaya  						FECHA CREACION: 082018 #}
{# MODIFICADO POR: Christian Zelaya                   FECHA MODIFICACION: x #} -->
<style>
		div#body{
			margin: auto;
			margin-top: 60px;
			width: 1000px;
			height: 300;



		}
		div#izquierda{
			width: 300px;
			height: 100px;
			float: left;
			margin-left: 30px;

		}
		div#centro{
			width: 300px;
			height: 100px;
			margin-right: 10px;
    margin-left: 10px;
			float: left;

		}
		div#derecha{
			width: 300px;
			height: 100px;
			float: left;

		}
		</style>
<div class="demo-card-square mdl-card mdl-shadow--2dp" id="body">
				<div class="mdl-card__supporting-text">
						Ingrese los campos correspondientes del formulario para crear un nuevo pedido
					</div>
				<form method="POST" action="">{% csrf_token %}
				<div id="izquierda">
						<!--<p><label for="id_first_name">Ingrese su nombre:</label> <input name="first_name" maxlength="30" id="id_first_name" type="text"></p>-->
						  <!-- Simple Select -->
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
								<input class="mdl-textfield__input" value="{{cotizacion.cliente}}" name="cliente" type="text" id="cliente" readonly>
								<label class="mdl-textfield__label" for="cliente">Cliente:</label>
							</div>

						<!--<p><label for="id_last_name">Ingrese su apellido:</label> <input name="last_name" maxlength="30" id="id_last_name" type="text"></p>-->
						<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
								<input class="mdl-textfield__input" value="{{cotizacion.fecha}}" name="last_name" type="text" id="id_last_name" readonly>
								<label class="mdl-textfield__label" for="id_last_name">Fecha cotizacion:</label>
							</div>
						<!--<p><label for="id_email">Correo electronico:</label> <input name="email" maxlength="254" id="id_email" type="email"></p>-->
						<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
								<input class="mdl-textfield__input" value="{{cotizacion.descripcion}}" name="descripcion" type="descripcion" id="descripcion">
								<label class="mdl-textfield__label" for="descripcion">Descripcion:</label>
							</div>
				</div>
				<div id="centro">
						<!--<p><label for="id_username">Ingrese su nombre de usuario:</label> <input name="username" maxlength="150" required="" id="id_username" type="text"> <span class="helptext">Únicamente letras, dígitos y @/./+/-/_ </span></p>-->
						<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
								<input class="mdl-textfield__input" value=" ${{cotizacion.total}}" name="Total" type="text" id="Total">
								<label class="mdl-textfield__label" for="Total">Total:</label>
							</div>
						<!--<p><label for="id_password">Contraseña:</label> <input name="password" maxlength="128" required="" id="id_password" type="password"></p>-->
						<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
								<input class="mdl-textfield__input"  value="" name="Deposito" type="text" id="Deposito">
								<label class="mdl-textfield__label" for="Deposito">Deposito:</label>
							</div>
						<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
							Fecha:<br>
							<input name="Fecha" id="Fecha" type="date">
							</div>


				</div>
				<div id="derecha">

							<br><br><br>
							<button  type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
									Guardar
								  </button>
					</div>
				</form>
		</div>

<!--<form method="POST" action="">
    {% csrf_token %}

    Valor Toal:<br>
  <input type="text" name="Valor_total" value="">
  <br>
    Cantidad Productos:<br>
  <input type="text" name="Cant_productos" value="">
  <br>
    Deposito:<br>
  <input type="text" name="Deposito" value="">
  <br>
     Fecha:<br>
  <input type="text" name="Fecha" value="">
  <br>
    Num Segui:<br>
  <input type="text" name="Num_seguimiento" value="">
  <br>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <select class="mdl-textfield__input" id="Estado" name="Estado">
      <option></option>
      <option value="Activo">Activo</option>
      <option value="Impresion">Impresion</option>
      <option value="Corte">Corte</option>
      <option value="Detalles">Detalles</option>

    </select>
    <label class="mdl-textfield__label" for="Estado">Seleccione el estado</label>

  <input type="submit" value="Submit">
</form>
-->

{% endblock %}