{% extends 'base/base.html'%}

{% block title %} Empleados{% endblock %}

{% block name %} Gestion de empleados {% endblock %}
{% block contenido %}
<div class="mdl-grid">
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
{# TAR #}
{% if empleados %}
	<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
		<thead>
		  <tr>
			<th class="mdl-data-table__cell--non-numeric">Codigo</th>
			<th>Nombres</th>
			<th>Puesto</th>
			<th>Departamento</th>
			<th>Detalles</th>
			<th>Habilitar</th>
			<th>Editar</th>
		  </tr>
		</thead>
		<tbody>	
			{% for e in empleados %}
			{% for c in contratos %}
				{% if c.empleado_id == e.id and c.vigente == True %}
					<tr>
						<td>{{e.codigo}}</td>
						<td >{{e.first_name}} {{e.last_name}}</td>
						<td>{{e.puesto}}</td>
						<td>{{e.puesto.departamento}}</td>
						<td><a href="">Detalles</a></td>
						{% if e.is_active %}
							<td><a href="{% url 'usuario:act_emp' e.id %}">Deshabilitar</a></td>
						{% else %}
							<td><a href="{% url 'usuario:act_emp' e.id %}">Habilitar</a></td>
						{% endif %}
						<td><a href="{% url 'usuario:edt_emp' e.id %}">Editar</a></td>
					</tr>	  
				{% endif %}	
			{% endfor %}
		{% endfor %}
		</tbody>  
	 </table>
		<a href="{% url 'usuario:reg_emp' %}">
		<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"> Registrar empleado</button>
{% else %}
	<h2>No hay empleados registrados</h2>
	<a href="{% url 'usuario:reg_emp' %}">
	<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"> Registrar empleado</button>
{% endif %}
</body>	
</html>
</div>
{% endblock %}
