{% extends 'base/base.html'%}

{% block title %} Empleados{% endblock %}

{% block name %} Gestion de empleados {% endblock %}
{% block contenido %}
<div class="mdl-grid">
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	

	<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
		<thead>
		  <tr>
			<th class="mdl-data-table__cell--non-numeric">Codigo</th>
			<th>Nombres</th>
			<th>Puesto</th>
			<th>Departamento</th>
			<th>Detalles</th>
			<th>Habilitar</th>
			<th>Editar</th>
		  </tr>
		</thead>
		<tbody>
			
			{% for e in empleados %}
			
			{% for c in contratos %}
				{% if c.empleado_id == e.id and c.vigente == True %}
					<tr>
						<td>{{e.codigo}}</td>
						<td id="show-dialog" type="button" class="mdl-button">{{e.first_name}} {{e.last_name}}</td>
						<td>{{e.puesto}}</td>
						<td>{{e.puesto.departamento}}</td>
						<td><a href="">Detalles</a></td>
						{% if e.is_active %}
							<td><a href="{% url 'usuario:act_emp' e.id %}">Deshabilitar</a></td>
						{% else %}
							<td><a href="{% url 'usuario:act_emp' e.id %}">Habilitar</a></td>
						{% endif %}
						<td><a href="{% url 'usuario:edt_emp' e.id %}">Editar</a></td>
					</tr>
					<body>
        
							<dialog class="mdl-dialog">
							  <h4 class="mdl-dialog__title">Allow data collection?</h4>
							  <div class="mdl-dialog__content">
								<p>
								  Desea modificar los datos del usuario?
								</p>
							  </div>
							  <div class="mdl-dialog__actions">
								<button type="button" class="mdl-button">Agree</button>
								<button type="button" class="mdl-button close">Disagree</button>
							  </div>
							</dialog>
							<script>
							  var dialog = document.querySelector('dialog');
							  var showDialogButton = document.querySelector('#show-dialog');
							  if (! dialog.showModal) {
								dialogPolyfill.registerDialog(dialog);
							  }
							  showDialogButton.addEventListener('click', function() {
								dialog.showModal();
							  });
							  dialog.querySelector('.close').addEventListener('click', function() {
								dialog.close();
							  });
							</script>
						  </body>
						  
				{% endif %}	
			{% endfor %}
		{% endfor %}
		</tbody>  
	  </table>
</body>	

</html>
</div>
{% endblock %}
