{% extends 'base/base.html'%}

{% block title %} Empleados{% endblock %}

{% block name %}  Gestion de empleados{% endblock%}
{% block contenido %}

		{% if editar %}
<style>
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

					div#izquierda{
						width: 330px;
						height:  365px;
						float: left;
						margin-left: 10px;

					}
					div#centro{
						width: 330px;
						height:  365px;
						float: left;

					}
					div#derecha{
						width: 330px;
						height:  365px;
						float: left;


					}
body {
  background-color: #fff;
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

h1 {
  color: #000;
  font-size: 22px;
  text-align: center;
  margin: 0 0 50px 0;
}

.container {
  margin: 25px auto;
  max-width: 1150px;
  width: 100%;
}

.accordion--form {
  background-color: #e5e5e5;
  padding: 50px;
  width: 100%;
}

.accordion--form__fieldset {
  border: 0;
  margin: 0 0 1px 0;
  padding: 0;
}

.accordion--form__legend {
  background-color: #555;
  color: #fff;
  display: block;
  margin: 0;
  padding: 5px 10px;
  width: 100%;
}

.accordion--form__legend-active {
  background-color: #ccc;
  color: #000;
}

.accordion--form__wrapper {
  height: 0;
  overflow: hidden;
}
.accordion--form__wrapper-active {
  height: auto;
  padding: 30px 0;
}

.accordion--form__row {
  clear: both;
  margin-bottom: 15px;
  width: 100%;
}

.accordion--form__label {
  display: inline-block;
  margin-bottom: 5px;
}

.accordion--form__text {
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  padding: 5px 10px;
}

.accordion--form__textarea {
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  padding: 5px 10px;
}

.accordion--form__submit {
}

.accordion--form__invalid {
  background-color: red;
  color: #fff;
  display: none;
  margin: 20px 0;
  padding: 5px 10px;
  width: 100%;
}

.accordion--form__next-btn,
.accordion--form__prev-btn {
  background-color: #333;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin: 0 2px 0 0;
  padding: 5px 10px;
  text-align: center;
}

.accordion--form__next-btn:hover,
.accordion--form__prev-btn:hover {
  background-color: #000;
}
</style>
<div class="container">

  <form class="accordion--form" method="POST">
{% csrf_token %}
    <h1>REGISTRO DE EMPLEADO</h1>

    <fieldset class="accordion--form__fieldset" id="fieldset-one">
      <legend class="accordion--form__legend accordion--form__legend-active">Informacion personal </legend>

      <div class="accordion--form__wrapper accordion--form__wrapper-active">
		<div id="izquierda">
        <div class="accordion--form__row">
        Nombres: <br>
							<div class="mdl-textfield mdl-js-textfield">
									<input class="mdl-textfield__input" name="first_name" type="text" id="first_name" value="{{empleado.first_name}}">
									<label class="mdl-textfield__label" for="first_name">{{empleado.first_name}}</label>
								  </div>
        </div>

        <div class="accordion--form__row">
          Apellidos: <br>
							<div class="mdl-textfield mdl-js-textfield">
									<input class="mdl-textfield__input" name="last_name" type="text" id="last_name" value="{{empleado.last_name}}">
									<label class="mdl-textfield__label" for="last_name">{{empleado.last_name}}</label>
								  </div>
        </div>
        <div class="accordion--form__row">
          Dui: <br>
							<div class="mdl-textfield mdl-js-textfield">
									<input class="mdl-textfield__input" name="dui" type="text" id="dui" value="{{empleado.dui}}" pattern="-?[0-9]*(\.[0-9]+)?">
									<label class="mdl-textfield__label" for="dui">{{empleado.dui}}</label>
									<span class="mdl-textfield__error">DUI incorrecto!</span>
								  </div>
        </div>
			<div class="accordion--form__row">
			Isss: <br>
							<div class="mdl-textfield mdl-js-textfield">
									<input class="mdl-textfield__input" name="isss" type="text" id="isss" value="{{empleado.isss}}" pattern="-?[0-9]*(\.[0-9]+)?">
									<label class="mdl-textfield__label" for="isss">{{empleado.dui}}</label>
									<span class="mdl-textfield__error">ISSS incorrecto!</span>
								  </div>
        	</div>

		</div>
		  <div id="centro">

			  <div class="accordion--form__row">
				  Nup: <br>
							<div class="mdl-textfield mdl-js-textfield">
									<input class="mdl-textfield__input" name="nup" type="text" id="nup" value="{{empleado.nup}}" pattern="-?[0-9]*(\.[0-9]+)?">
									<label class="mdl-textfield__label" for="nup">{{empleado.nup}}</label>
									<span class="mdl-textfield__error">NUP incorrecto!</span>
								  </div>
			  </div>
			  <div class="accordion--form__row">
				  Nit: <br>
							<div class="mdl-textfield mdl-js-textfield">
									<input class="mdl-textfield__input" name="nit" type="text" id="nit" value="{{empleado.nit}}" pattern="-?[0-9]*(\.[0-9]+)?">
									<label class="mdl-textfield__label" for="nit">{{empleado.nit}}</label>
									<span class="mdl-textfield__error">NIT incorrecto!</span>
								  </div>
			  </div>
			  <div class="accordion--form__row">
				  Codigo:
							<div class="mdl-textfield mdl-js-textfield">
									<input class="mdl-textfield__input" name="codigo" type="text" id="codigo" value="{{empleado.codigo}}" pattern="-?[0-9]*(\.[0-9]+)?" disabled>
									<label class="mdl-textfield__label" for="nit">{{empleado.codigo}}</label>
									<span class="mdl-textfield__error">CODIGO incorrecto!</span>
								  </div>
			  </div>
		</div>

		  <div id="derecha">
			  <div class="accordion--form__row">
				   Email: <br>
							<div class="mdl-textfield mdl-js-textfield">
									<input class="mdl-textfield__input" name="email" type="text" id="email" value="{{empleado.email}}">
									<label class="mdl-textfield__label" for="email">{{empleado.email}}</label>
								  </div>
			  </div>
			  <div class="accordion--form__row">
		 Domicilio: <br>
							<div class="mdl-textfield mdl-js-textfield">
									<input class="mdl-textfield__input" name="domicilio" type="text" id="domicilio" value="{{empleado.domicilio}}">
									<label class="mdl-textfield__label" for="domicilio">{{empleado.domicilio}}</label>
								  </div>
		  </div>
			  <div class="accordion--form__row">
			  Telefono: <br>
							<div class="mdl-textfield mdl-js-textfield">
									<input class="mdl-textfield__input" name="telefono" type="text" id="telefono" value="{{empleado.telefono}}" pattern="-?[0-9]*(\.[0-9]+)?">
									<label class="mdl-textfield__label" for="nup">{{empleado.telefono}}</label>
									<span class="mdl-textfield__error">Telefono incorrecto!</span>
								  </div>
			  </div>

		  </div>

	<a  class="accordion--form__next-btn">Siguiente</a>

        <div class="accordion--form__invalid">Please ensure all required fields are filled in</div>

      </div>
    </fieldset>

    <fieldset class="accordion--form__fieldset" id="fieldset-two">
      <legend class="accordion--form__legend">Informacion laboral</legend>

      <div class="accordion--form__wrapper">
		<div id="izquierda">
			<div class="accordion--form__row">
				Puesto: <br><br>
							<select name="puesto" id="puesto" value="{{empleado.puesto}}">
								{% for p in puestos %}
								<option value="{{p.id}}">{{p.nombre}}</option>
								{% endfor %}
							</select>
        	</div>
			<div class="accordion--form__row">
			Tipo: <br>
							<div class="mdl-textfield mdl-js-textfield">
									<br>
								<input class="mdl-textfield__input" name="tipo" type="text" id="tipo" value="{{empleado.tipo}}">
									<label class="mdl-textfield__label" for="tipo">{{empleado.tipo}}</label>
								  </div>
			</div>
				<div class="accordion--form__row">
				<div class="mdl-textfield mdl-js-textfield">
									<input class="mdl-textfield__input"  type="text" id="fechaCelebracion" value="{{contrato.fechaCelebracion}}"disabled>
									<label class="mdl-textfield__label">{{contrato.fechaCelebracion}}</label>
								  </div>
			</div>

			</div>
			<div id="centro">

				<div class="accordion--form__row">
				Fecha de inicio: <br>
							<div class="mdl-textfield mdl-js-textfield">
									<input class="mdl-textfield__input" name="fechaInicio" type="text" id="fechaInicio" value="{{contrato.fechaInicio}}"disabled>
									<label class="mdl-textfield__label" for="fechaInicio">{{contrato.fechaInicio}}</label>
								  </div>
			</div>
			<div class="accordion--form__row">
				Fecha final: <br>
							<div class="mdl-textfield mdl-js-textfield">
									<input class="mdl-textfield__input" name="fechaFinal" type="text" id="fechaFinal" value="{{contrato.fechaFinal}}"disabled>
									<label class="mdl-textfield__label" for="fechaFinal">{{contrato.fechaFinal}}</label>
								  </div>
			</div>
				<div class="accordion--form__row">
					 Hora de entrada: <br>
							<div class="mdl-textfield mdl-js-textfield">
									<input class="mdl-textfield__input" name="horaEntrada" type="time" id="horaEntrada" value="{{contrato.horaEntrada}}">
									<label class="mdl-textfield__label" for="horaEntrada">{{contrato.horaEntrada}}</label>
								  </div>
				</div>

			</div>
		  <div id="derecha">
			  <div class="accordion--form__row">
					Hora de salida: <br>
							<div class="mdl-textfield mdl-js-textfield">
									<input class="mdl-textfield__input" name="horaSalida" type="text" id="horaSalida" value="{{contrato.horaSalida}}"disabled>
									<label class="mdl-textfield__label" for="horaSalida">{{contrato.horaSalida}}</label>
								  </div>
				</div>

			  <div class="accordion--form__row">
				  Salario: <br>
							<div class="mdl-textfield mdl-js-textfield">
									<input class="mdl-textfield__input" name="salario" type="text" id="salario" value="{{contrato.salario}}">
									<label class="mdl-textfield__label" for="salario">{{contrato.salario}}</label>
								  </div>
			  </div>

		  </div>

        <a class="accordion--form__prev-btn">Anterior</a>
		  <br><br>
        <a class="accordion--form__next-btn">Siguiente</a>



      </div>
    </fieldset>

    <fieldset class="accordion--form__fieldset" id="fieldset-three">
      <legend class="accordion--form__legend">Informacion de usuario</legend>

      <div class="accordion--form__wrapper">
		<div id="izquierda">
        <div class="accordion--form__row">
          <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="active">
									<input name="active" type="checkbox" id="active" class="mdl-checkbox__input" >
									<span class="mdl-checkbox__label">Habilitar usuario</span>
								  </label>
        </div>
			</div>
			<div id="centro">
			<div class="accordion--form__row">
				Nombre de Usuario: <br>

							<div class="mdl-textfield mdl-js-textfield">
									<input class="mdl-textfield__input" name="username" type="text" id="username" value="{{empleado.username}}"disabled>
									<label class="mdl-textfield__label" for="username">{{empleado.username}}</label>
								  </div>
			</div>
			</div>
			<div id="derecha">
				<div class="accordion--form__row">
					Asignar  contrasenia: <br>
							<div class="mdl-textfield mdl-js-textfield">
									<input class="mdl-textfield__input" name="password" type="text" id="password" value="{{empleado.password}}">
									<label class="mdl-textfield__label" for="password">{{empleado.password}}</label>
								  </div>
				</div>
		  </div>

 				<a class="accordion--form__prev-btn">Regresar</a><br><br><br>
        <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
									Guardar
								  </button>



      </div>
    </fieldset>

  </form>

</div>
<script>
//On click of the 'next' anchor
$('.accordion--form__next-btn').on('click touchstart', function() {

  var parentWrapper = $(this).parent().parent();
  var nextWrapper = $(this).parent().parent().next('.accordion--form__fieldset');
  var sectionFields = $(this).siblings().find('.required');


  //Validate the .required fields in this section
  var empty = $(this).siblings().find('.required').filter(function() {

    return this.value === "";

  });

  if (empty.length) {

    $('.accordion--form__invalid').show();

  } else {

    $('.accordion--form__invalid').hide();

    //If valid
    //On the next fieldset -> accordion wrapper, toggle the active class
    nextWrapper.find('.accordion--form__wrapper').addClass('accordion--form__wrapper-active');

    //Close the others
    parentWrapper.find('.accordion--form__wrapper').removeClass('accordion--form__wrapper-active');

    //Add a class to the parent legend
    nextWrapper.find('.accordion--form__legend').addClass('accordion--form__legend-active');

    //Remove the active class from the other legends
    parentWrapper.find('.accordion--form__legend').removeClass('accordion--form__legend-active');

  }

  return false;
});

//On click of the 'prev' anchor
$('.accordion--form__prev-btn').on('click touchstart', function() {

  parentWrapper = $(this).parent().parent();
  prevWrapper = $(this).parent().parent().prev('.accordion--form__fieldset');

  //On the prev fieldset -> accordion wrapper, toggle the active class
  prevWrapper.find('.accordion--form__wrapper').addClass('accordion--form__wrapper-active');

  //Close the others
  parentWrapper.find('.accordion--form__wrapper').removeClass('accordion--form__wrapper-active');

  //Add a class to the parent legend
  prevWrapper.find('.accordion--form__legend').addClass('accordion--form__legend-active');

  //Remove the active class from the other legends
  parentWrapper.find('.accordion--form__legend').removeClass('accordion--form__legend-active');


  return false;
});
</script>

		{% else %}
<style>
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

					div#izquierda{
						width: 330px;
						height:  365px;
						float: left;
						margin-left: 10px;

					}
					div#centro{
						width: 330px;
						height:  365px;
						float: left;

					}
					div#derecha{
						width: 330px;
						height:  365px;
						float: left;


					}
body {
  background-color: #fff;
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

h1 {
  color: #000;
  font-size: 22px;
  text-align: center;
  margin: 0 0 50px 0;
}

.container {
  margin: 25px auto;
  max-width: 1150px;
  width: 100%;
}

.accordion--form {
  background-color: #e5e5e5;
  padding: 50px;
  width: 100%;
}

.accordion--form__fieldset {
  border: 0;
  margin: 0 0 1px 0;
  padding: 0;
}

.accordion--form__legend {
  background-color: #555;
  color: #fff;
  display: block;
  margin: 0;
  padding: 5px 10px;
  width: 100%;
}

.accordion--form__legend-active {
  background-color: #ccc;
  color: #000;
}

.accordion--form__wrapper {
  height: 0;
  overflow: hidden;
}
.accordion--form__wrapper-active {
  height: auto;
  padding: 30px 0;
}

.accordion--form__row {
  clear: both;
  margin-bottom: 15px;
  width: 100%;
}

.accordion--form__label {
  display: inline-block;
  margin-bottom: 5px;
}

.accordion--form__text {
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  padding: 5px 10px;
}

.accordion--form__textarea {
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  padding: 5px 10px;
}

.accordion--form__submit {
}

.accordion--form__invalid {
  background-color: red;
  color: #fff;
  display: none;
  margin: 20px 0;
  padding: 5px 10px;
  width: 100%;
}

.accordion--form__next-btn,
.accordion--form__prev-btn {
  background-color: #333;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin: 0 2px 0 0;
  padding: 5px 10px;
  text-align: center;
}

.accordion--form__next-btn:hover,
.accordion--form__prev-btn:hover {
  background-color: #000;
}
</style>
<div class="container">

  <form class="accordion--form" method="POST">
{% csrf_token %}
    <h1>REGISTRO DE EMPLEADO</h1>

    <fieldset class="accordion--form__fieldset" id="fieldset-one">
      <legend class="accordion--form__legend accordion--form__legend-active">Informacion personal </legend>

      <div class="accordion--form__wrapper accordion--form__wrapper-active">
		<div id="izquierda">
        <div class="accordion--form__row">
        Nombres: <br>
							<div class="mdl-textfield mdl-js-textfield">
									<input class="mdl-textfield__input" name="first_name" type="text" id="first_name" value="{{empleado.first_name}}">
									<label class="mdl-textfield__label" for="first_name">{{empleado.first_name}}</label>
								  </div>
        </div>

        <div class="accordion--form__row">
          Apellidos: <br>
							<div class="mdl-textfield mdl-js-textfield">
									<input class="mdl-textfield__input" name="last_name" type="text" id="last_name" value="{{empleado.last_name}}">
									<label class="mdl-textfield__label" for="last_name">{{empleado.last_name}}</label>
								  </div>
        </div>
        <div class="accordion--form__row">
          Dui: <br>
							<div class="mdl-textfield mdl-js-textfield">
									<input class="mdl-textfield__input" maxlength="9" name="dui" type="text" id="dui" value="{{empleado.dui}}" pattern="-?[0-9]*(\.[0-9]+)?">
									<label class="mdl-textfield__label" for="dui">{{empleado.dui}}</label>
									<span class="mdl-textfield__error">DUI incorrecto!</span>
								  </div>
        </div>

		</div>
		  <div id="centro">
		 <div class="accordion--form__row">
			Isss: <br>
							<div class="mdl-textfield mdl-js-textfield">
									<input class="mdl-textfield__input" maxlength="9" name="isss" type="text" id="isss" value="{{empleado.isss}}" pattern="-?[0-9]*(\.[0-9]+)?">
									<label class="mdl-textfield__label" for="isss">{{empleado.dui}}</label>
									<span class="mdl-textfield__error">ISSS incorrecto!</span>
								  </div>
        	</div>
			  <div class="accordion--form__row">
				  Nup: <br>
							<div class="mdl-textfield mdl-js-textfield">
									<input class="mdl-textfield__input" name="nup" type="text" id="nup" value="{{empleado.nup}}" pattern="-?[0-9]*(\.[0-9]+)?">
									<label class="mdl-textfield__label" for="nup">{{empleado.nup}}</label>
									<span class="mdl-textfield__error">NUP incorrecto!</span>
								  </div>
			  </div>
			  <div class="accordion--form__row">
				  Nit: <br>
							<div class="mdl-textfield mdl-js-textfield">
									<input class="mdl-textfield__input" maxlength="14" name="nit" type="text" id="nit" value="{{empleado.nit}}" pattern="-?[0-9]*(\.[0-9]+)?">
									<label class="mdl-textfield__label" for="nit">{{empleado.nit}}</label>
									<span class="mdl-textfield__error">NIT incorrecto!</span>
								  </div>
			  </div>
		</div>

		  <div id="derecha">
			  <div class="accordion--form__row">
				   Email: <br>
							<div class="mdl-textfield mdl-js-textfield">
									<input class="mdl-textfield__input" name="email" type="text" id="email" value="{{empleado.email}}">
									<label class="mdl-textfield__label" for="email">{{empleado.email}}</label>
								  </div>
			  </div>
			  <div class="accordion--form__row">
		 Domicilio: <br>
							<div class="mdl-textfield mdl-js-textfield">
									<input class="mdl-textfield__input" name="domicilio" type="text" id="domicilio" value="{{empleado.domicilio}}">
									<label class="mdl-textfield__label" for="domicilio">{{empleado.domicilio}}</label>
								  </div>
		  </div>
			  <div class="accordion--form__row">
			  Telefono: <br>
							<div class="mdl-textfield mdl-js-textfield">
									<input class="mdl-textfield__input" name="telefono" type="text" id="telefono" value="{{empleado.telefono}}" pattern="-?[0-9]*(\.[0-9]+)?">
									<label class="mdl-textfield__label" for="nup">{{empleado.telefono}}</label>
									<span class="mdl-textfield__error">Telefono incorrecto!</span>
								  </div>
			  </div>

		  </div>

	<a  class="accordion--form__next-btn">Siguiente</a>

        <div class="accordion--form__invalid">Please ensure all required fields are filled in</div>

      </div>
    </fieldset>

    <fieldset class="accordion--form__fieldset" id="fieldset-two">
      <legend class="accordion--form__legend">Informacion laboral</legend>

      <div class="accordion--form__wrapper">
		<div id="izquierda">
			<div class="accordion--form__row">
				Puesto: <br><br>
							<select name="puesto" id="puesto" value="{{empleado.puesto}}">
								{% for p in puestos %}
								<option value="{{p.id}}">{{p.nombre}}</option>
								{% endfor %}
							</select>
        	</div>
			<div class="accordion--form__row">
			Tipo: <br>
							<div class="mdl-textfield mdl-js-textfield">
									<br>
								<input class="mdl-textfield__input" name="tipo" type="text" id="tipo" value="{{empleado.tipo}}">
									<label class="mdl-textfield__label" for="tipo">{{empleado.tipo}}</label>
								  </div>
			</div>
				<div class="accordion--form__row">
				Fecha de Celebracion: <br>
							<div class="mdl-textfield mdl-js-textfield">
									<input class="mdl-textfield__input"  type="date" id="fechaCelebracion" value="{% now "jS F Y H:i" %}">
									<label class="mdl-textfield__label">{{contrato.fechaCelebracion}}</label>
								  </div>
			</div>

			</div>
			<div id="centro">

				<div class="accordion--form__row">
				Fecha de inicio: <br>
							<div class="mdl-textfield mdl-js-textfield">
									<input class="mdl-textfield__input" name="fechaInicio" type="date" id="fechaInicio" value="{{contrato.fechaInicio}}">
									<label class="mdl-textfield__label" for="fechaInicio">{{contrato.fechaInicio}}</label>
								  </div>
			</div>
			<div class="accordion--form__row">
				Fecha final: <br>
							<div class="mdl-textfield mdl-js-textfield">
									<input class="mdl-textfield__input" name="fechaFinal" type="date" id="fechaFinal" value="{{contrato.fechaFinal}}">
									<label class="mdl-textfield__label" for="fechaFinal">{{contrato.fechaFinal}}</label>
								  </div>
			</div>
				<div class="accordion--form__row">
					 Hora de entrada: <br>
							<div class="mdl-textfield mdl-js-textfield">
									<input class="mdl-textfield__input" name="horaEntrada" type="time" id="horaEntrada" value="{{contrato.horaEntrada}}">
									<label class="mdl-textfield__label" for="horaEntrada">{{contrato.horaEntrada}}</label>
								  </div>
				</div>

			</div>
		  <div id="derecha">
			  <div class="accordion--form__row">
					Hora de salida: <br>
							<div class="mdl-textfield mdl-js-textfield">
									<input class="mdl-textfield__input" name="horaSalida" type="time" id="horaSalida" value="{{contrato.horaSalida}}">
									<label class="mdl-textfield__label" for="horaSalida">{{contrato.horaSalida}}</label>
								  </div>
				</div>

			  <div class="accordion--form__row">
				  Salario: <br>
							<div class="mdl-textfield mdl-js-textfield">
									<input class="mdl-textfield__input" name="salario" type="text" id="salario" value="{{contrato.salario}}">
									<label class="mdl-textfield__label" for="salario">{{contrato.salario}}</label>
								  </div>
			  </div>

		  </div>

        <a class="accordion--form__prev-btn">Anterior</a>
		  <br><br>
        <a class="accordion--form__next-btn">Siguiente</a>



      </div>
    </fieldset>

    <fieldset class="accordion--form__fieldset" id="fieldset-three">
      <legend class="accordion--form__legend">Informacion de usuario</legend>

      <div class="accordion--form__wrapper">
		<div id="izquierda">
        <div class="accordion--form__row">
          <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="active">
									<input name="active" type="checkbox" id="active" class="mdl-checkbox__input" >
									<span class="mdl-checkbox__label">Habilitar usuario</span>
								  </label>
        </div>
			</div>
			<div id="centro">
			<div class="accordion--form__row">
				Nombre de Usuario: <br>

							<div class="mdl-textfield mdl-js-textfield">
									<input class="mdl-textfield__input" name="username" type="text" id="username" value="{{empleado.username}}"disabled>
									<label class="mdl-textfield__label" for="username">{{empleado.username}}</label>
								  </div>
			</div>
			</div>
			<div id="derecha">
				<div class="accordion--form__row">
					Asignar  contrasenia: <br>
							<div class="mdl-textfield mdl-js-textfield">
									<input class="mdl-textfield__input" name="password" type="text" id="password" value="{{empleado.password}}">
									<label class="mdl-textfield__label" for="password">{{empleado.password}}</label>
								  </div>
				</div>
		  </div>

 				<a class="accordion--form__prev-btn">Regresar</a><br><br><br>
        <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
									Guardar
								  </button>



      </div>
    </fieldset>

  </form>

</div>
<script>
//On click of the 'next' anchor
$('.accordion--form__next-btn').on('click touchstart', function() {

  var parentWrapper = $(this).parent().parent();
  var nextWrapper = $(this).parent().parent().next('.accordion--form__fieldset');
  var sectionFields = $(this).siblings().find('.required');


  //Validate the .required fields in this section
  var empty = $(this).siblings().find('.required').filter(function() {

    return this.value === "";

  });

  if (empty.length) {

    $('.accordion--form__invalid').show();

  } else {

    $('.accordion--form__invalid').hide();

    //If valid
    //On the next fieldset -> accordion wrapper, toggle the active class
    nextWrapper.find('.accordion--form__wrapper').addClass('accordion--form__wrapper-active');

    //Close the others
    parentWrapper.find('.accordion--form__wrapper').removeClass('accordion--form__wrapper-active');

    //Add a class to the parent legend
    nextWrapper.find('.accordion--form__legend').addClass('accordion--form__legend-active');

    //Remove the active class from the other legends
    parentWrapper.find('.accordion--form__legend').removeClass('accordion--form__legend-active');

  }

  return false;
});

//On click of the 'prev' anchor
$('.accordion--form__prev-btn').on('click touchstart', function() {

  parentWrapper = $(this).parent().parent();
  prevWrapper = $(this).parent().parent().prev('.accordion--form__fieldset');

  //On the prev fieldset -> accordion wrapper, toggle the active class
  prevWrapper.find('.accordion--form__wrapper').addClass('accordion--form__wrapper-active');

  //Close the others
  parentWrapper.find('.accordion--form__wrapper').removeClass('accordion--form__wrapper-active');

  //Add a class to the parent legend
  prevWrapper.find('.accordion--form__legend').addClass('accordion--form__legend-active');

  //Remove the active class from the other legends
  parentWrapper.find('.accordion--form__legend').removeClass('accordion--form__legend-active');


  return false;
});
</script>
  {% endif%}
{% endblock %}